<!DOCTYPE html>
<html lang="en">

    <%- include('./partials/head.ejs') %>

<body>
    <%- include('./partials/header.ejs') %>

    <main>
        <h1>Your Cart</h1>
        <div class="cart-items">
            <hr style="width: 20%;">

            <% currentUser.cart.forEach((element,index) => { %>
                <div class="item item-<%= index+1 %>">
                <div class="item-image">
                    <img src="/images/<%= element.product.name%><%= (element.colorIndex + 1) %>.jpg" alt="product image" width="100px" height="100px">
                </div>
                <div class="item-info">
                    <h3><%= element.product.name%></h3>
                    <p><%= element.product.price%></p>
                    <div class="quantity">
                        <span><%= element.quantity%></span>
                    </div>
                </div>
                <div class="delete">
                    <button data-value="<%= index+1 %>">&times;</button>
                </div>
            </div>
            <hr>
             
            <% }) %>
        </div>
            <div class="pay">
                <h2>Summary</h2>
                <p>Total: <span><%= currentUser.cartTotalPrice %></span></p>
    
                <form action="">
                    <input type="submit" value="Check Out">
                    <!-- <div class="bc"> -->
                        <button type="submit"><img src="images/paypal.jpg" alt=""></button>
                    <!-- </div> -->
                </form>
            </div>
        
    </main>

    <%- include('./partials/footer.ejs') %>
    <script src="js/menu.js"></script>
    <script src="js/cart.js"></script>
    
</body>
</html>