<!DOCTYPE html>
<html lang="en">

    <%- include('./partials/head.ejs') %>

<body>
    <%- include('./partials/header.ejs') %>

    <main>
        <h1>Your Cart</h1>
        <div class="cart-items">
            <hr>
            <%=  currentUser.username %>

            <div class="item">
                <div class="item-image">
                    <img src="/images/<%= currentUser.cart[0].product.name%><%= (currentUser.cart[0].colorIndex + 1) %>.jpg" alt="product image">
                </div>
                <div class="item-info">
                    <h3><%= currentUser.cart[0].product.name%></h3>
                    <p><%= currentUser.cart[0].product.price%></p>
                    <div class="quantity">
                        <span><%= currentUser.cart[0].quantity%></span>
                    </div>
                </div>
                
            </div>
            <hr>
    </main>

    <%- include('./partials/footer.ejs') %>
    <script src="js/menu.js"></script>
    
</body>
</html>