<!DOCTYPE html>
<html lang="en">

    <%- include('./partials/head.ejs') %>

<body>
    
    <%- include('./partials/header.ejs') %>

    <section class="main-home">
        <div class="main-text">
            <h5>Eid Collection</h5>
            <h1>New Eid <br> Collection <br>2023</h1>
            <p>There's Nothing like Trend</p>
            <a href="/shop" class="main-btn"><i class='bx bx-shopping-bag'
            ></i>  Shop Now</a>
        </div>

        <div class="down-arrow">
            <a href="#trending" class="down"><i class='bx bx-down-arrow-alt' ></i></a>
        </div>
    </section>
    <!-- trending-products-section -->
    <section class="trending-product" id="trending">
        <div class="center-text">
            <h2>Trending <span>Products</Span></h2>
            </div>
                <div class="products">

                    <% Trending.forEach(product => {%>
                        
                        <div class="row">
                            <a href="/product?product=<%= product.name %>"><img src="images/<%= product.name %>1.jpg" alt=""></a>
                                <div class="product-text">
                                    <h5>Hot</h5>
                                </div>
                                <div class="heart-icon">
                                    <i class='bx bx-heart'></i>
                                </div>
                                <div class="cart-icon">
                                <i class='bx bx-cart'></i>
                                </div>
                                <div class="ratting">
                                    <i class="bx bxs-star"></i>
                                    <i class="bx bxs-star"></i>
                                    <i class="bx bxs-star"></i>
                                    <i class="bx bxs-star"></i>
                                    <i class="bx bxs-star-half"></i>
                                </div>
                                <div class="price">
                                    <h4><%=product.name%></h4>
                                    <p>$<%=product.price%></p>
                                </div>
                        </div>


                    <% });%>





                    <!-- <div class="row">
                        <a href="/product?product=Mens Flowers T-Shirt"><img src="images/Mix.jpg" alt=""></a>
                            <div class="product-text">
                                <h5>New</h5>
                            </div>
                            <div class="heart-icon">
                                <i class='bx bx-heart'></i>
                            </div>
                            <div class="cart-icon">
                            <i class='bx bx-cart'></i>
                            </div>
                            <div class="ratting">
                                <i class="bx bxs-star"></i>
                                <i class="bx bxs-star"></i>
                                <i class="bx bxs-star"></i>
                                <i class="bx bxs-star"></i>
                                <i class="bx bxs-star-half"></i>
                            </div>
                            <div class="price">
                                <h4>Crop top and shorts</h4>
                                <p>$29.99</p>
                            </div>
                    </div>
                    <div class="row">
                        <a href="10.html"><img src="images/10.jpg"  alt=""></a>
                            <div class="product-text">
                                <h5>hot</h5>
                            </div>
                            <div class="heart-icon">
                                <i class='bx bx-heart'></i>
                            </div>
                            <div class="cart-icon">
                            <i class='bx bx-cart'></i>
                            </div>
                            <div class="ratting">
                                <i class="bx bxs-star"></i>
                                <i class="bx bxs-star"></i>
                                <i class="bx bxs-star"></i>
                                <i class="bx bxs-star"></i>
                                <i class="bx bxs-star-half"></i>
                            </div>
                            <div class="price">
                                <h4>Product</h4>
                                <p>$29.99</p>
                            </div>
                    </div>
                    <div class="row">
                        <a href="2.html"><img src="images/2.jpg"  alt=""></a>
                            <div class="product-text">
                                <h5>hot</h5>
                            </div>
                            <div class="heart-icon">
                                <i class='bx bx-heart'></i>
                            </div>
                            <div class="cart-icon">
                            <i class='bx bx-cart'></i>
                            </div>
                            <div class="ratting">
                                <i class="bx bxs-star"></i>
                                <i class="bx bxs-star"></i>
                                <i class="bx bxs-star"></i>
                                <i class="bx bxs-star"></i>
                                <i class="bx bxs-star-half"></i>
                            </div>
                            <div class="price">
                                <h4>Product</h4>
                                <p>$99.99</p>
                            </div>
                    </div>
                    <div class="row">
                        <a href="9.html"><img src="images/9.jpg" alt=""></a>
                            <div class="product-text">
                                <h5>Sale</h5>
                            </div>
                            <div class="heart-icon">
                                <i class='bx bx-heart'></i>
                            </div>
                            <div class="cart-icon">
                            <i class='bx bx-cart'></i>
                            </div>
                            <div class="ratting">
                                <i class="bx bxs-star"></i>
                                <i class="bx bxs-star"></i>
                                <i class="bx bxs-star"></i>
                                <i class="bx bxs-star"></i>
                                <i class="bx bxs-star-half"></i>
                            </div>
                            <div class="price">
                                <h4>Product</h4>
                                <p>$37.99 <del>$59.99</del></p>
                            </div>
                    </div>
                    <div class="row">
                        <a href="4.html"><img src="images/4.jpg" alt=""></a>
                            <div class="product-text">
                                <h5>hot</h5>
                            </div>
                            <div class="heart-icon">
                                <i class='bx bx-heart'></i>
                            </div>
                            <div class="cart-icon">
                            <i class='bx bx-cart'></i>
                            </div>
                            <div class="ratting">
                                <i class="bx bxs-star"></i>
                                <i class="bx bxs-star"></i>
                                <i class="bx bxs-star"></i>
                                <i class="bx bxs-star"></i>
                                <i class="bx bxs-star-half"></i>
                            </div>
                            <div class="price">
                                <h4>Product</h4>
                                <p>$99.99</p>
                            </div>
                    </div>
                    <div class="row">
                        <a href="5.html"><img src="images/5.jpg"  alt=""></a>
                            <div class="product-text">
                                <h5>hot</h5>
                            </div>
                            <div class="heart-icon">
                                <i class='bx bx-heart'></i>
                            </div>
                            <div class="cart-icon">
                            <i class='bx bx-cart'></i>
                            </div>
                            <div class="ratting">
                                <i class="bx bxs-star"></i>
                                <i class="bx bxs-star"></i>
                                <i class="bx bxs-star"></i>
                                <i class="bx bxs-star"></i>
                                <i class="bx bxs-star-half"></i>
                            </div>
                            <div class="price">
                                <h4>Product</h4>
                                <p>$99.99</p>
                            </div>
                    </div>    
                    <div class="row">
                        <a href="6.html"><img src="images/6.jpg"  alt=""></a>
                            <div class="product-text">
                                <h5>hot</h5>
                            </div>
                            <div class="heart-icon">
                                <i class='bx bx-heart'></i>
                            </div>
                            <div class="cart-icon">
                            <i class='bx bx-cart'></i>
                            </div>
                            <div class="ratting">
                                <i class="bx bxs-star"></i>
                                <i class="bx bxs-star"></i>
                                <i class="bx bxs-star"></i>
                                <i class="bx bxs-star"></i>
                                <i class="bx bxs-star-half"></i>
                            </div>
                            <div class="price">
                                <h4>Product</h4>
                                <p>$99.99</p>
                            </div>
                    </div>    
                    <div class="row">
                        <a href="7.html"><img src="images/7.jpg"  alt=""></a>
                            <div class="product-text">
                                <h5>hot</h5>
                            </div>
                            <div class="heart-icon">
                                <i class='bx bx-heart'></i>
                            </div>
                            <div class="cart-icon">
                            <i class='bx bx-cart'></i>
                            </div>
                            <div class="ratting">
                                <i class="bx bxs-star"></i>
                                <i class="bx bxs-star"></i>
                                <i class="bx bxs-star"></i>
                                <i class="bx bxs-star"></i>
                                <i class="bx bxs-star-half"></i>
                            </div>
                            <div class="price">
                                <h4>Product</h4>
                                <p>$99.99</p>
                            </div>
                    </div>     -->
                </div>
            </div>
        </div>
    </section>

    <%- include('./partials/footer.ejs') %>

    <script src="js/index.js"></script>
    <script src="js/menu.js"></script>

</body>
</html>
