<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/header.ejs') %>

    <div class="popup-container">
        <div class="popup" id="popup">
        <img src="">
        <h2> <%= product.name %></h2>
        <p id="P">Price: $<span></span></p>
        <p id="Q">Quantity: <span></span></p>
        <p id="T">Total: $<span></span></p>
    <button class="button" type="button" onclick="continueShopping()">Continue shopping</button>
    <button class="button" type="button" ><a href="/cart">view cart</a></button>
</div>
    </div>
    <main>
        <div class="container">
            <div class="product-image">
                <div class="nav">
                    <a href="">Men</a> <i class="bx bx-chevrons-right"></i> <a href="">Tops</a> <i class="bx bx-chevrons-right"></i> <a href="">T-shirts</a>
                </div>
                
                <img src="/images/<%= product.name %>1.jpg" alt="Product-image">
            </div>
            <div class="product-container">
                <h1><%= product.name%></h1>
                <div class="product-options">
                    <p>$<span><%= product.price  %></span></p>

                    <% if(size){%>
                        <div class="size">
                            <h3>Size:</h3>
                            <input type="radio" <% if(product.variants[0].sizes[0].quantityLeft== 0) {%>
                                class = "sizeBtn sb-1 unavailable"
                                disabled = "true"
                            <% }else{ %>
                                class="sizeBtn sb-1"
                                <% console.log('available') %>
                                checked="checked"
                            <% } %> id="s" name="size" data-size="1">
                            <label for="s">S</label>
                            <input type="radio" class="sizeBtn sb-2" id="m" name="size" data-size="2">
                            <label for="m">M</label>
                            <input type="radio" class="sizeBtn sb-3" id="l" name="size" data-size="3">
                            <label for="l">L</label>
                            <input type="radio" class="sizeBtn sb-4" id="xl" name="size" data-size="4">
                            <label for="xl">XL</label>
                            <input type="radio" class="sizeBtn sb-5" id="xxl" name="size" data-size="5">
                            <label for="xxl">XXL</label>
                        </div>
                        <hr>
                    <%} %>
                    
                    <div class="color">
                        <h3>Color: <span><%=colors[0].color  %></span></h3>
                        <% colors.forEach( (variant,index) => {%>
                            <input type="radio" class="colorBtn cb-<%= index+1  %>" id="<%= variant.color %>" name="color"
                            <% if(index==0){ %> 
                                checked="checked" 
                            <% } %>
                            data-value="<%= index+1%>">
                            <label for="<%= variant.color%>"><img src="images/<%= product.name %><%= index+1 %>.jpg"  alt="<%= product.name %>"></label>
                        <% }); %>
                    </div>
                    <hr>
                    <div class="quantity">
                        <h3>Quantity:</h3>
                        <button disabled="true" id="minus"><i class="bx bx-minus"></i></button>
                        <span>1</span>
                        <button id="plus"><i class="bx bx-plus"></i></button>
                    </div>
                    <hr>
                    <button class="add-btn" onclick="order()">Add to Cart</button>

                     <!-- Check the quantity if < 4 put 
                        <h5 class="notice">Only quantity left in stock</h5>
                    -->
                    
                </div>
                <div class="product-info">
                    <h4>Product Description</h4>
                    <p>Introducing our classic men's t-shirt, perfect for everyday wear. Made with premium 100% cotton material, this t-shirt is soft, breathable, and comfortable, making it an ideal choice for any occasion. The timeless design features a crew neckline, short sleeves, and a regular fit that will flatter any body type.
                        Whether you're dressing up or keeping it casual, this t-shirt is a versatile addition to any wardrobe. It pairs well with jeans or shorts, and can be dressed up with a blazer or dressed down with a pair of sneakers. With a range of colors to choose from, you'll find the perfect match for your personal style.
                        Carefully crafted with attention to detail, this t-shirt is designed to last. It is machine washable for easy care, and the color won't fade over time. Add it to your collection today and experience the ultimate in comfort and style.
                    </p>
                </div>
            </div>
        </div>
        
    </main>
    

    <%- include('./partials/footer.ejs') %>

    <div style="visibility: hidden;" id="product" data-variable="<%=product.name%>"></div>

    <script src="js/menu.js"></script>
    <script src="js/product.js"></script>
    <script>

      
        var theProduct = <%- JSON.stringify(product) %>;
    
        changeColor(theProduct) ;

   

     


    </script>
    
    
</body>
</html>