<!DOCTYPE html>
<html>
<%- include('./partials/head.ejs') %>

  <body>

    <%- include('./partials/header.ejs') %>

      <main>
        <div class="profilenav">
          <h1>My Account</h1>
          <!-- <h2>Personal Information</h2> -->
          <div class="options">
            <a href="#" id="PI" onclick="personalInfo()">Personal Information</a>
            <a href="#" id="MO" onclick="myOrders()">My Orders</a>
            <a href="#" id="CP" onclick="changePass()">Change Password</a>
            <a href="/logout" id="LO" onclick="return logOut(this)">Log out</a>
          </div>

        </div>
        <div class="info">
          <h1>Personal Information</h1>

          <form action="/profile/update" method="post">
            <div class="info-item">
              <label for="username">Username:</label>
              <input type="text" class="ii" name="username" id="username" value="<%= currentUser.username %>" disabled="true">
            </div>
            <div class="info-item">
              <label for="email">Email:</label>
              <input type="text" class="ii" name="email" id="email" value="<%= currentUser.email %>" disabled="true">
            </div>
            <div class="info-item">
              <label for="address">Address:</label>
              <input type="text" class="ii" name="address" id="adress" value="<%= currentUser.address %>" disabled="true">
            </div>
            <div class="info-item">
              <label for="phone">Phone:</label>
              <input type="tel" class="ii" name="phoneNumber" id="phone" value="<%= currentUser.phoneNumber %>" disabled="true">
            </div>
            <div class="info-item">
              <label for="alance">Balance:</label>
              <input type="tel" class="ii" name="phoneNumber" id="balance" value="<%= currentUser.userBalance %>" disabled="true">
            </div>

            <input class="change-btn" type="button" value="Update" onclick="changeInfo()">
            <input class="change-btn confirm" type="submit" value="Confirm">

          </form>
        </div>
        
        <div class="orders">
          <% if(currentUser.orderedProducts[0]!=null){ %>
          <h1>My Orders</h1>
          <table class="table">
            <thead>
              <tr>
                <th>Order Number</th>
                <th>Order Date</th>
                <th>Items</th>
                <th>Total</th>
                <th>Status</th>
              </tr>
            </thead>
            <tbody>
              <% currentUser.orderedProducts.forEach(product=>{%>
                <td><%= product._id %></td>
                <td><%= product.createAt %></td>
                <td><%= product.color %> <% product.name %></td>
                <td><%= product.price %></td>
                <td>
                  <p class="status <%= product.status %>">
                    <%if(product.status=='d'){%>
                      Delivered
                    <%}else if(product.status=='s'){ %>
                      Shipped
                    <%}else{%>
                      Ordered
                    <% } %>
                  </p>
                </td>

              <%}) %>
            </tbody>
          </table>
          <% } else{%>
                  <h1 style="font-size: 40px; position: absolute; width: 450px;">No Orders Yet</h1>
            <% } %>

        </div>

        <div class="changepass">
          <h1>Change Password</h1>
          <form>
            <div class="changer-input">
              <label for="password">New password:</label>
              <input type="password" id="password" name="password" required>
            </div>
            <div class="changer-input">
              <label for="password">Confirm password:</label>
              <input type="password" id="confirmPassword" required>
            </div>
            <input class="change-btn pass-btn" type="submit" value="Confirm">
          </form>
        </div>



      </main>

      <%- include('./partials/footer.ejs') %>

        <script src="js/profile.js"></script>
        <script src="js/menu.js"></script>
  </body>

</html>