<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/header.ejs') %>

    
    <section class="banner">
        <h1>Featured Items</h1>
    </section>
<div class="sorting">
    <label for="sort-option">Sort By:</label>
    <select id="sort-option" class="dropdown">
      <option value="priceLowToHigh">Price: Low to High</option>
      <option value="priceHighToLow">Price: High to Low</option>
    </select>
</div>

    <main>
        <div class="products">
            <% shopItems.forEach(product => {%>
                        
                <div class="row">
                    <a href="/product?product=<%= product.name %>"><img src="images/<%= product.name %>1.jpg" alt=""></a>
                        <div class="product-text">
                            <h5>Hot</h5>
                            <h6 style="visibility: hidden;"><%= product.Category %></h6>
                        </div>
                        <!-- <div class="heart-icon">
                            <i class='bx bx-heart'></i>
                        </div> -->
                        <div class="cart-icon">
                        <a href="/product?product=<%= product.name %>"><i class='bx bx-cart'></i></a>
                        </div>
                        <div class="ratting">
                            <i class="bx bxs-star"></i>
                            <i class="bx bxs-star"></i>
                            <i class="bx bxs-star"></i>
                            <i class="bx bxs-star"></i>
                            <i class="bx bxs-star-half"></i>
                        </div>
                        <div class="price">
                            <h4><%=product.name%></h4>
                            <p>$<%=product.price%></p>
                        </div>
                </div>


            <% });%>   
        </div>
    </main>

    <%- include('./partials/footer.ejs') %>
    
    <script src="js/menu.js"></script>
    <script src="js/shop.js"></script>

</body>
</html>