<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/header.ejs') %>

    
    <section class="banner">
        <h1>Featured Items</h1>
    </section>

    <!-- <div class="shop-filter">
        <h3>Filter by:</h3>
        <div class="filters">
            
        </div>
        

    </div> -->

    <main>
        <div class="products">
            <% shopItems.forEach(product => {%>
                        
                <div class="row">
                    <a href="/product?product=<%= product.name %>"><img src="images/<%= product.name %>1.jpg" alt=""></a>
                        <div class="product-text">
                            <h5>Hot</h5>
                        </div>
                        <!-- <div class="heart-icon">
                            <i class='bx bx-heart'></i>
                        </div> -->
                        <div class="cart-icon">
                        <a href="/product?product=<%= product.name %>"><i class='bx bx-cart'></i></a>
                        </div>
                        <div class="ratting">
                            <i class="bx bxs-star"></i>
                            <i class="bx bxs-star"></i>
                            <i class="bx bxs-star"></i>
                            <i class="bx bxs-star"></i>
                            <i class="bx bxs-star-half"></i>
                        </div>
                        <div class="price">
                            <h4><%=product.name%></h4>
                            <p>$<%=product.price%></p>
                        </div>
                </div>


            <% });%>   
        </div>
    </main>

    <%- include('./partials/footer.ejs') %>
    
    <script src="js/menu.js"></script>

</body>
</html>